<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="MageDad\AdminBot\Api\AdminBotRepositoryInterface" type="MageDad\AdminBot\Model\AdminBotRepository"/>
	<preference for="MageDad\AdminBot\Api\Data\AdminBotInterface" type="MageDad\AdminBot\Model\AdminBot"/>
	<preference for="MageDad\AdminBot\Api\Data\AdminBotSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
